body {
    background-image: url("https://shui2202.github.io/math-competition/math2.jpeg");
}

.dropdown {
    position: absolute;
    display: inline-block;
    left: calc(50% - 16em);
}
  
.dropdown-content {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-gap: 1em;
}

.dropdown-content > * {
    background-color: gray;
    color: white;
    padding: 1.5em;
    border-radius: 0.5em;
    width: -webkit-fill-available;
    text-decoration: none;
    text-shadow: 0px 0px 10px white, 0px 0px 10px white, 0px 0px 10px white, 0px 0px 10px white, 0px 0px 10px white, 0px 0px 10px white;
}

h1{
    text-align: center;
    text-shadow: 0px 0px 10px white, 0px 0px 10px white, 0px 0px 10px white, 0px 0px 10px white, 0px 0px 10px white, 0px 0px 10px white, 0px 0px 10px white;
}
