.dropdown {
    position: absolute;
    display: inline-block;
    left: calc(50% - 16em);
}
  

.dropdown-content {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-gap: 1em;
}

.dropdown-content > * {
    background-color: gray;
    color: white;
    padding: 1.5em;
    border-radius: 0.5em;
    width: -webkit-fill-available;
}

h1{
    text-align: center;
}
