body {
    background-image: url("https://shui2202.github.io/math-competition/math2.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
    animation: enchantment 1.5 alternate infinite;
    background-blend-mode: luminosity;
}

.dropdown {
    position: absolute;
    display: inline-block;
    left: calc(50% - 16em);
}
  
.dropdown-content {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-gap: 1em;
    margin-top: 20%;
}

.dropdown-content > * {
    background-color: gray;
    color: white;
    padding: 1.5em;
    border-radius: 0.5em;
    width: -webkit-fill-available;
    text-decoration: none;
    box-shadow: 0px 0px 10px white, 0px 0px 10px white, 0px 0px 10px white, 0px 0px 10px white, 0px 0px 10px white, 0px 0px 10px white;
}

h1{
    text-align: center;
    text-shadow: 0px 0px 10px white, 0px 0px 10px white, 0px 0px 10px white, 0px 0px 10px white, 0px 0px 10px white, 0px 0px 10px white, 0px 0px 10px white;
}

@keyframes enchantment {
    from {
    background-color: darkblue;
    } to {
    background=color: indigo;
    }
}
